<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">&copy; 2018 {{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
              <li>Email: <a href="mailto:baphong80@gmail.com" target="_blank">baphong80@gmail.com</a></li>
              <li>Facebook: <a href="https://www.facebook.com/englishtoan" target="_blank">Fanpage</a></li>
		  <li><a href="{{ "/feed.xml" | relative_url }}" target="_blank">RSS</a></li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-3">
          <p>Trang web chia sẻ các <a href="dethi.html" target="_blank">Đề thi</a> Toán Tiếng Anh quốc tế và hỗ trợ người học tra cứu theo <a href="dangtoan.html" target="_blank">Dạng Toán</a>,
		  <a href="tuvung.html" target="_blank">Từ vựng</a>, <a href="nguphap.html" target="_blank">Ngữ pháp</a>.</p>
        </div>
      </div>
  
    </div>
  
  </footer>
